* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.wrapper {
  display: flex;
  gap: 10px;
}

.wrapper a {
  text-decoration: none;
}

.wrapper .button {
  display: flex;
  align-items: center;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease-out;
  color: inherit;
}

.wrapper .button:hover {
  width: 200px;
}

.wrapper .button .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  transition: background 0.3s ease-out;
  background: transparent;
  transform: translateX(17.5px);
}

.wrapper .button:nth-child(1) .icon {
  color: #1da1f2;
}

.wrapper .button:nth-child(2) .icon {
  color: #6441a5;
}

.wrapper .button:nth-child(3) .icon {
  color: #333;
}

.wrapper .button:nth-child(4) .icon {
  color: #ff0000;
  transform: translateX(16px);
}

.wrapper .button:nth-child(1):hover .icon {
  background: #1da1f2;
  transform: none;
}

.wrapper .button:nth-child(2):hover .icon {
  background: #6441a5;
  transform: none;
}

.wrapper .button:nth-child(3):hover .icon {
  background: #333;
  transform: none;
}

.wrapper .button:nth-child(4):hover .icon {
  background: #ff0000;
  transform: none;
}

.wrapper .button .icon i {
  font-size: 25px;
  transition: color 0.3s ease-out;
}

.wrapper .button:hover .icon i {
  color: #fff;
}

.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.wrapper .button:hover span {
  opacity: 1;
}
